- `SELECT `  --столбцы или * для выбора всех столбцов; обязательный запрос
- `FROM`    --таблица; обязательный запрос
- `WHERE  `  -- условие/фильтрация; необязательный запрос
- `GROUP BY` --столбец, по которому хотим сгруппировать данные; необязательный запрос
- `HAVING`   --условие/фильтрация на уровне сгруппированных данных; необязательно
- `ORDER BY` --столбец, по которому хотим отсортировать вывод; необязательно

## DataBase
Рассмотрим SQL, научимся подключаться к БД в Python на примере PostgresSQL. Познакомимся с концепцией ORM, разберем интеграцию SQLAlchemy с pandas.

In [2]:
'''
Как подключиться к PostgreSQL через psycopg2
1. Установить библиотеку psycopg2,
    - возможно потребуется установка на виртуальное окружение,
    - установка библиотеки варианты: 
        !pip install psycopg2 --force-reinstall --no-cache-dir
        !pip install psycopg2_binary
        !pip install SQLAlchemy
    - из опыта, еще потребовалась установка SQLAlchemy
        !pip install SQLAlchemy
2. Импортируем библиотеку psycopg2
''' 
import psycopg2

In [3]:
# Далее используем данные для входа

database="startml",
user="robot-startml-ro",
password="pheiph0hahj1Vaif",
host="postgres.lab.karpov.courses",
port=6432

В следующих заданиях мы будем работать с базой данных, в которой имеется три таблицы:

<b> `1. Таблица с данными о пользователях (user):` </b>

`id` - уникальный идентификатор пользователя (primary key)

`gender` - пол

`age` - возраст

`country` - страна

`city` - город

`exp_group` - экспериментальная группа

`os` - операционная система

`source` - источник трафика

<hr>

<b> ` 2. Таблица с данными о постах (post): ` </b>

`id` - уникальный идентификатор поста (primary key)

`text` - текст поста

`topic` - тема поста

<hr>

<b> ` 3. Таблица с данными о действиях пользователей (feed_action): ` </b>

`user_id (——>) user (id)` - идентификатор пользователя     

`post_id (——>) post (id)` - идентификатор поста     

`action` - совершенное в сети действие     

`time` - время действия

In [4]:

import pandas as pd

df = pd.read_sql(
    """SELECT * FROM "feed_action" LIMIT 10 """,
con="postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
    "postgres.lab.karpov.courses:6432/startml"
)
df.head()

# В конце работы необходимо закрывать курсор и соединение с БД:
# cursor.close() 
# connection.close()

OperationalError: (psycopg2.OperationalError) connection to server at "postgres.lab.karpov.courses" (116.203.248.181), port 6432 failed: ERROR:  pgbouncer cannot connect to server

(Background on this error at: https://sqlalche.me/e/14/e3q8)

### 1
> SELECT (1/2)

Сделайте запрос на все колонки из таблицы user. Для этого может понадобиться взять user в кавычки, вот так: "user" - чтобы PostgreSQL не спутал ее со своей встроенной таблицей user, где он ведет учет всех пользователей.

Напишите через пробел, с какого id начинаются записи и какой город у самого первого ID (на английском)

In [ ]:
df = pd.read_sql(
    """SELECT *
         FROM "user"
         LIMIT 1
         """,
con="postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
    "postgres.lab.karpov.courses:6432/startml"
)

df

### 2
> SELECT (2/2)

Отберите уникальные значения тем (topic) в таблице постов (post).

Напишите через пробел количество записей и самое длинное название топика.

In [ ]:
df = pd.read_sql(
    """SELECT DISTINCT topic
         FROM "post" 
         """,
con="postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
    "postgres.lab.karpov.courses:6432/startml"
)

df

In [ ]:
print(len(df))

# df.col1.map(lambda x: len(x)).max()
df.loc[df.topic.map(len).sort_values(ascending=False).head(1).index]

### 3
> Фильтры (1/2)

Отберите пользователей старше 30 с устройством на iOS. Каков ID и город записи с минимальным ID (он идет первым в таблице)? Запишите значения через пробел.

In [ ]:
df = pd.read_sql(
    """SELECT *
         FROM "user"
         WHERE age > 30
         AND os = 'iOS'
         """,
con="postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
    "postgres.lab.karpov.courses:6432/startml"
)

df[['id', 'city']].head(1)

### 4
> Фильтры (2/2)

Отберите пользователей, которые не из России и при этом либо их экспериментальная группа не 0 и не 3 или их город – Минск.

Напишите через пробел первые 4 ID в такой выдаче.

In [ ]:
df = pd.read_sql(
    """SELECT *
         FROM "user"
         WHERE country != 'Russia'
         AND exp_group != 0
         AND exp_group != 3
         OR city = 'Minsk'
         """,    
    con="postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
        "postgres.lab.karpov.courses:6432/startml"
)
df.head(10)

In [ ]:
list(df.id.head(4))

### 5
> Группировка (1/6)

Подсчитайте средний возраст пользователей в разрезе страны. В ответ напишите средний возраст пользователей из Кипра. Ответ округлите до двух знаков после точки.

In [ ]:
df = pd.read_sql(
    """SELECT (round(AVG(age),2)),
                    country
         FROM "user"
         GROUP BY country
         HAVING country = 'Cyprus'
         """,    
    con="postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
        "postgres.lab.karpov.courses:6432/startml"
)
df

In [ ]:
df = pd.read_sql(
    """SELECT ROUND(AVG(age),2) as "age",
                    country
         FROM "user"
         GROUP BY country
         HAVING country = 'Cyprus'
         """,    
    con="postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
        "postgres.lab.karpov.courses:6432/startml"
)
df

### 6
> Группировка (2/6)

Сгруппируйте пользователей сначала по экспериментальной группе, а затем по операционной системе. В каждой группе подсчитайте количество пользователей, максимальный и минимальный возраст.

Сохраните результаты в файл CSV колонками exp_group, os, total_users, max_age, min_age (обратите внимание на название последних трех колонок!), используя запятую в качестве сепаратора, и отправьте файл в LMS.

Для сохранения в CSV в Redash внизу есть кнопка "три точки", где выпадает пункт "Download as CSV file".

In [ ]:
df = pd.read_sql(
    """SELECT
          exp_group,
          os,
        COUNT(user) as "total_users",
          MAX(age) as "max_age",
          MIN(age) as "min_age"
        FROM
          "user"
        GROUP BY
          exp_group,
          os
         """,    
    con="postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
        "postgres.lab.karpov.courses:6432/startml"
)

df.to_csv('StartML_group6.csv', index=False)
df

### 7 !!! перепроверить
> Группировка (3/6)

В каждой категории постов определите длину самого длинного текста, используя таблицу `post`. В ответ отправьте тему, у которой длина самого большого поста равна по порядку 25 000

In [ ]:
df = pd.read_sql(
    """SELECT
        topic,
        LENGTH(text)
      FROM post
        WHERE LENGTH(text) > 25000
        ORDER BY 2 DESC
        
         """,    
    con="postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
        "postgres.lab.karpov.courses:6432/startml"
)
df

### 8
> Группировка (4/6)

Найдите страну с наименьшим числом пользователей среди стран, у которых общее число пользователей больше 1000. Введите ее название на английском.

In [ ]:
df = pd.read_sql(
    """
            SELECT country, 
                COUNT(user)
            FROM "user"
            GROUP BY country
            HAVING COUNT(user) > 1000
            ORDER BY 2
            LIMIT 1
        
         """,    
    con="postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
        "postgres.lab.karpov.courses:6432/startml"
)
df

### 9
> Группировка (5/6)

Что выведет следующий запрос при его применении на таблице user?

```sql
SELECT country, exp_group, COUNT(id)
FROM "user"
GROUP BY country, exp_group;
```

SELECT

**Ответ**: Количество пользователей внутри каждой группы, доступной в стране, для каждой страны

In [ ]:
df = pd.read_sql(
    """
            SELECT country,
                exp_group, 
                COUNT(id)
            FROM "user"
            GROUP BY country, exp_group
            LIMIT 5
        
         """,    
    con="postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
        "postgres.lab.karpov.courses:6432/startml"
)
df

### 10
> Группировка (6/6)

Отберите для пользователей из Москвы экспериментальные группы, в которых средний возраст больше 27.2. Напишите через пробел число пользователей в этих группах.

In [ ]:
df = pd.read_sql(
    """
         SELECT
          exp_group,
          AVG(age),
          COUNT(user)
        FROM "user"
        WHERE city = 'Moscow'
        GROUP BY exp_group
        HAVING AVG(age) > 27.2
        
         """,    
    con="postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
        "postgres.lab.karpov.courses:6432/startml"
)
df

### 11
> Сортировка (1/2)

Сейчас мы будем работать с другой таблицей под названием post. Найдите в таблице post 3 темы с наибольшим количеством постов. Напишите через пробел названия этих тем.

In [ ]:
df = pd.read_sql(
    """
        SELECT topic, 
               COUNT(text)
        FROM "post"
        GROUP BY topic
        ORDER BY 2 DESC
        LIMIT 3

        
         """,    
    con="postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
        "postgres.lab.karpov.courses:6432/startml"
)
df

### 12
`НЕ ПРИНЯЛ РЕШЕНИЕ`
> Join (1/2)

Отберите post_id, time, age и os пользователя для всех лайков пользователей из Омска. Отсортируйте результаты по убыванию времени действия и загрузите в LMS первые 100 значений в формате CSV (сепаратор "запятая", колонки с теми же названиями, что и в задании).

Подсказки

In [13]:
df_13 = pd.read_sql(
    """
        SELECT  f.post_id as "post_id",
                f.time as "time",
                u.age as "age",
                u.os as "os"
        FROM "user" u
        JOIN feed_action f ON f.user_id = u.id
        WHERE u.city = 'Omsk'
        AND f.action = 'like'
        ORDER BY f.time DESC
        LIMIT 100
    
    """,    
    con="postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
        "postgres.lab.karpov.courses:6432/startml"
)
df_13.to_csv('06_db_join_pd.csv', index=False)
df_13

    post_id                time  age       os
0      7159 2022-01-26 23:59:54   17  Android
1      7184 2022-01-26 23:56:30   17  Android
2      7265 2022-01-26 23:56:03   17  Android
3      7256 2022-01-26 23:55:24   17  Android
4      7080 2022-01-26 23:55:12   17  Android
..      ...                 ...  ...      ...
95     7256 2022-01-26 22:43:54   31  Android
96     7316 2022-01-26 22:42:54   31  Android
97     7319 2022-01-26 22:39:35   36      iOS
98     7268 2022-01-26 22:39:04   36      iOS
99     7226 2022-01-26 22:35:11   36      iOS

[100 rows x 4 columns]

### 14
> Join (2/2)

Найдите город, пользователи которого в возрасте 36 лет 2021-12-01 числа просмотрели запись на тему covid меньше всего раз относительно других городов. Введите его название на английском.

In [12]:
df_14 = pd.read_sql(
    """
        SELECT u.city,
               COUNT(action)
        FROM "user" u
        JOIN feed_action f ON u.id = f.user_id
        JOIN post p ON f.post_id = p.id
        WHERE u.age = '36'
              AND DATE(time) = '2021-12-01'
              AND f.action = 'view'
              AND p.topic = 'covid'
        GROUP BY u.city
        ORDER BY COUNT(action)
        LIMIT 1
    
    """,    
    con="postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
        "postgres.lab.karpov.courses:6432/startml"
)
df_14

          city  count
0  Arkhangelsk      5

### 15
> Топ постов

Напишите SQL запрос, используя который вы получите:
- топ N постов по лайкам,
- количество пролайкавших пользователей,
- время последнего лайка.

В качестве ответа напишите через пробел первые 3 ID постов из этого топа.

In [14]:
# топ N постов по лайкам (...) 
# В качестве ответа напишите через пробел первые 3 ID постов из этого топа.

df_15 = pd.read_sql(
    """
     SELECT post_id, 
       COUNT(post_id)
FROM feed_action f 
JOIN post p ON f.post_id = p.id
WHERE action = 'like'
GROUP BY post_id
ORDER BY COUNT(post_id) DESC
LIMIT 3
    
    """,    
    con="postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
        "postgres.lab.karpov.courses:6432/startml"
)
df_15

   post_id  count
0     4866  31714
1     5127  29637
2     6448  27939

In [15]:
# количество пролайкавших пользователей,

df_15_2 = pd.read_sql(
    """
        SELECT COUNT(user_id)
        FROM feed_action f 
        JOIN post p ON f.post_id = p.id
        WHERE action = 'like'
    """,    
    con="postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
        "postgres.lab.karpov.courses:6432/startml"
)
df_15_2

      count
0  11482780

In [16]:
# время последнего лайка.

df_15_3 = pd.read_sql(
    """
        SELECT MAX(time)
        FROM feed_action f 
        JOIN post p ON f.post_id = p.id
        WHERE action = 'like'
    """,    
    con="postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
        "postgres.lab.karpov.courses:6432/startml"
)
df_15_3

                  max
0 2022-01-26 23:59:57