### Описание данных:

    id - уникальный идентификатор заведения
    address - физический адрес заведения
    categories - категории заведения (например, "Fast food restaurant").
    city - город, в котором заведение находится.
    cuisines - кухни, которые практикуются в заведении. Например "Mexican".
    dateAdded - дата добавления записи. Будем считать, что она совпадает с датой открытия заведения.
    dateUpdated - дата обновления информации о заведении.
    latitude - географическая широта.
    longitude - географическая долгота.
    menus.category - категории пищи в меню.
    menus.currency - валюта, в которой принимают оплату.
    menus.dateSeen - дата, когда было заведено это меню.
    menus.description - описание меню от заведения.
    menus.name - название меню.
    name - название заведения.
    province - область (штат), где находится заведение.

In [1]:
import pandas as pd
df = pd.read_csv('data.csv')

df.columns

Index(['id', 'address', 'categories', 'city', 'cuisines', 'dateAdded',
       'dateUpdated', 'latitude', 'longitude', 'menus.category',
       'menus.currency', 'menus.dateSeen', 'menus.description', 'menus.name',
       'name', 'province'],
      dtype='object')

### 1
В качестве первого шага давайте посмотрим на наши данные c помощью метода head()

Перечислите первые три значения колонки dateAdded через запятую и пробел в том порядке, в котором они были выведены

In [2]:
df.dateAdded.head(3)

0    2016-03-02T11:49:34Z
1    2016-03-02T11:49:34Z
2    2016-10-14T01:58:25Z
Name: dateAdded, dtype: object

### 2.
Давайте посмотрим, какой тип имеют колонки city и latitude.

Введите через **пробел** названия типов.

In [3]:
df.dtypes

id                    object
address               object
categories            object
city                  object
cuisines              object
dateAdded             object
dateUpdated           object
latitude             float64
longitude            float64
menus.category        object
menus.currency        object
menus.dateSeen        object
menus.description     object
menus.name            object
name                  object
province              object
dtype: object

### 3 
Какие колонки будут выведены при применении метода describe и почему только они?
> latitude, longitude, потому что это единственные численные колонки

In [4]:
df.describe()

           latitude     longitude
count  55636.000000  55636.000000
mean      36.694846    -98.713309
std        4.835124     18.245857
min      -31.986438   -159.492690
25%       33.668355   -117.647150
50%       36.047195    -96.682320
75%       40.588380    -82.679930
max       61.219460    115.903696

### 4.

    Какие средние значения в тех колонках, которые вывел describe в предыдущем задании?
    Укажите их через пробел, округлив до двух знаков после запятой. Используйте точку в качестве десятичного разделителя.

In [5]:
res1 = df.describe()
print(round(list(res1.iloc[1])[0],2))
print(round(list(res1.iloc[1])[1],2))

36.69
-98.71

### 5
    Сейчас в данных присутствуют пропущенные значения. Давайте их удалим.
    Примените метод dropna.  Сколько осталось записей?

In [6]:
df.dropna()

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
72,AVwc_6st_7pvs4fz1Mln,95 Matthews Dr,Restaurant,Hilton Head Island,"Japanese, Thai, Hibachi",2015-10-19T20:43:35Z,2016-08-22T11:22:45Z,32.212044,-80.701132,Appetizers Sushi Bar,USD,2016-08-20T00:00:00Z,"Pepper tuna, pepper white tuna, spicy crab mea...",Taco Tara,Okko Hilton Head,SC
242,AVwc_DjlkufWRAb51GPc,2610 Lyndale Ave S,Restaurant,Minneapolis,"American, Bar / Lounge / Bottle Service",2016-08-01T19:18:23Z,2016-08-22T11:27:55Z,44.954945,-93.288246,Main Course,USD,2016-08-20T00:00:00Z,Main i pico slaw i radish i cilantro-lime crem...,Blackened Fish Tacos,French Meadow Cafe & Bluestem Bar,MN
243,AVwc_DjlkufWRAb51GPc,2610 Lyndale Ave S,Restaurant,Minneapolis,"American, Bar / Lounge / Bottle Service",2016-08-01T19:18:23Z,2016-08-22T11:27:55Z,44.954945,-93.288246,Main Course,USD,2016-08-20T00:00:00Z,Blackened organic tempeh i tempeh chorizo i pi...,Blackened Tempeh Tacos,French Meadow Cafe & Bluestem Bar,MN
259,AVwc_DW1_7pvs4fz1DBV,119 W Clay St,"Bistro,American Restaurant,New American Restau...",Mebane,"American Restaurants,American, Contemporary Am...",2016-03-31T02:34:19Z,2017-07-03T17:12:10Z,36.097057,-79.267750,Main,USD,2016-04-24T00:00:00Z,"Grilled or blackened with house made tortilla,...",Shrimp or Mahi Taco,Mebane Downtown Table,NC
261,AVwc_DW1_7pvs4fz1DBV,119 W Clay St,"Bistro,American Restaurant,New American Restau...",Mebane,"American Restaurants,American, Contemporary Am...",2016-03-31T02:34:19Z,2017-07-03T17:12:10Z,36.097057,-79.267750,Starters,USD,2016-04-24T00:00:00Z,"Slow cooked leg of duck, house made tortilla w...",Duck Confit Tacos,Mebane Downtown Table,NC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76997,AVz0WZ18FcQ3k02bDO8m,29 Crown Rd.Building B,Restaurant,Weatherford,Mexican,2017-06-29T14:55:32Z,2017-06-29T14:55:32Z,32.752010,-97.669332,Main,USD,2017-06-28T17:41:09.905Z,"A new favorite Slowsmoked brisket, served in y...",Brisket Tacos,Los Vaqueros - West,TX
76998,AVz0WZ18FcQ3k02bDO8m,29 Crown Rd.Building B,Restaurant,Weatherford,Mexican,2017-06-29T14:55:32Z,2017-06-29T14:55:32Z,32.752010,-97.669332,Main,USD,2017-06-28T17:41:09.905Z,The chefs favorite when he is too busy to sit ...,Johnnys Burrito Bowl,Los Vaqueros - West,TX
76999,AVz0WZ18FcQ3k02bDO8m,29 Crown Rd.Building B,Restaurant,Weatherford,Mexican,2017-06-29T14:55:32Z,2017-06-29T14:55:32Z,32.752010,-97.669332,Main,USD,2017-06-28T17:41:09.905Z,"With chili con queso, Spanish rice and refried...",One Beef or Chicken Burrito,Los Vaqueros - West,TX
77000,AVz0WZf3-gnIPe8DUW4y,2300 Matlock Rd. Suite 21,Restaurant,Mansfield,"Mexican, American, Seafood",2017-06-29T14:55:31Z,2017-06-29T14:55:31Z,32.594093,-97.106282,Ensaladas Salads,USD,2017-06-28T17:33:26.597Z,Seasoned picadillo beef served with fresh mixe...,Ensalada Taco,El Primo's Mexican Grill & Cantina,TX
77014,AVz0WZsS-gnIPe8DUW45,4150 North MacArthur Blvd,Restaurant,Irving,"Steakhouse, American",2017-06-29T14:55:32Z,2017-06-29T14:55:32Z,32.862452,-96.959246,Air,USD,2017-06-28T17:36:57.862Z,peppers onions jack cheese flour tortilla sour...,Beer Can Chicken Tacos,LAW at Four Seasons Dallas,TX

### 6
    Отберите заведения, которые находятся в городе Калифорния ('California'), штат Миссури. 
    Укажите индексы, под которыми полученные заведения расположены в датафрейме, через запятую и пробел в порядке возрастания.

In [7]:
print(list(df[df.city == 'California'].index.sort_values()))

[40483, 52930, 52931, 52932, 52933, 52934, 52935, 52936, 52937, 52938, 52939, 65070]

### 7.
Отберите заведения `Taco Bell` в городе `Калифорния ('California'), штат Миссури.`

Укажите `индексы` этих заведений через запятую и пробел в порядке возрастания.

In [8]:
print(list(df[(df.name == 'Taco Bell') & (df.city == 'California')].index.sort_values()))

[52930, 52931, 52932, 52933, 52934, 52935, 52936, 52937, 52938, 52939]

### 8. 
Давайте
- найдем заведения Taco Bell или заведения, которые находятся в городе Нью-Йорк.
- при этом обязательно, чтобы в названии меню не было Volcano Taco и Fresco Soft Taco (именно таких значений колонки). 
- данные нужно сохранить в датафрейм result.

In [9]:
result_filt1 = df[((df.name == 'Taco Bell') | (df.city == 'New York')) & \
   (~(df['menus.name'] == 'Volcano Taco')) & (~(df['menus.name'] == 'Fresco Soft Taco')) ]

### 9.
Давайте отберем рестораны, где значение валюты, в которой принимают оплату, не пропущено.

Нужно сохранить данные в результирующий датафрейм result.

In [10]:
# result4 = df.dropna()
# result4[result4['menus.currency']]
result = df[~df['menus.currency'].isna()]
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40511 entries, 15 to 77259
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 40511 non-null  object
 1   address            40511 non-null  object
 2   categories         40511 non-null  object
 3   city               40511 non-null  object
 4   cuisines           19385 non-null  object
 5   dateAdded          40511 non-null  object
 6   dateUpdated        40511 non-null  object
 7   latitude           27382 non-null  float64
 8   longitude          27382 non-null  float64
 9   menus.category     3148 non-null   object
 10  menus.currency     40511 non-null  object
 11  menus.dateSeen     40511 non-null  object
 12  menus.description  17257 non-null  object
 13  menus.name         40511 non-null  object
 14  name               40508 non-null  object
 15  province           40508 non-null  object
dtypes: float64(2), object(14)
memory usage: 5.3+ MB

### 10

Попробуйте сделать data['categories'], data[['categories']], посмотрите на тип и на значения их элементов.

Выберете подходящие значения.

`data['categories'] выдает Series, data[['categories']] выдает DataFrame. В обоих случаях тип данных object`

In [11]:
df[['categories']]

                                              categories
0      Restaurant Delivery Service,Restaurants,Pizza,...
1      Restaurant Delivery Service,Restaurants,Pizza,...
2           Golf Course, American Restaurant, and Resort
3                                   Fast Food Restaurant
4      Mexican Restaurant Mid-City West,Mexican Resta...
...                                                  ...
77255                                         Restaurant
77256                                         Restaurant
77257                                         Restaurant
77258                                         Restaurant
77259                                         Restaurant

[77260 rows x 1 columns]

### 11.
Напишите через запятую и пробел 5 городов с наибольшим количеством записей.

In [57]:
top_5 = list(df['city'].value_counts().reset_index()['index'].head(5))
', '.join(top_5)

'San Diego, Los Angeles, Chicago, San Francisco, New York'

### 12.
Посчитайте, сколько ресторанов Taco Bell находится в каждом городе. Отберите 5 городов, в которых ресторан встречается чаще всего. Количество ресторанов для этих городов с их названиями сохраните в виде объекта pd.Series в переменную result.

Данные сохранены в переменную data

In [95]:
# df[['city','name']].name == 'Taco Bell'
# df.groupby(['city', 'name'])['city'].count()
result = df[(df.name == 'Taco Bell')]['city'].value_counts().head(5)
result

Indianapolis        84
Columbus            63
Charleston          63
Tampa               62
South Lake Tahoe    42
Name: city, dtype: int64

### 16.
Отберите рестораны, у которых в колонке categories упоминается Pizza
Укажите индекс 3-го элемента, полученного после фильтрации

In [111]:
df[(df['categories'].str.contains('Pizza'))].index[2] # функция contains для того, чтобы найти подстроку

66

In [127]:
df[df.categories.str.split(',').apply(lambda x: len(x) > 20) ]\
.groupby(['province']).agg({'longitude':'min'}).round(3).reset_index()\
.to_csv('task_20_category_more.csv', sep=';', index=False)