## Основы Python

### Команды для Jupyter

Выйти из режима редактирования ячейки: Esc

Создать ячейку ниже: b

Создать ячейку выше: a

Удалить ячейку: dd

Вырезать ячейки: x

Копировать ячейки: c

Вставить копированные ячейки: v

Изменить тип ячейки c "code" на "markdown" : m

Выделить несколько ячеек подряд: Shift + вверх или Shift + вниз

Объединить выделенные ячейки: Shift + m

Выполнить ячейки:

Ctrl + Enter — выполнение ячейки с сохранением фокуса

Shift + Enter — выполнение ячейки с переводом фокуса на следующую

In [ ]:
# простой комментарий

'''
я 
многострочный 
комментарий
'''

## Переменные

> переменные могут менять значения

In [2]:
a = 10
b = 'peace'
c = 3.1415

print(f'{a}, {b}, {c}')
b = 'hello' # изменили значение b
print(f'{a}, {b}, {c}')

10, peace, 3.1415
10, hello, 3.1415

In [3]:
# множественное присваивание значений переменных
var, strings, pi = 20, 'hi', 3.1415
print(f'{var}, {strings}, {pi} ')

20, hi, 3.1415

### Базовые операции

In [30]:
print(28 + 18)
print(118 - 256)
print(25 / 5)
print(f'Деление нацело 9 // 4 = {9 // 4}')
print(f'Остаток от деления 9 % 4 = {9 % 4}')
print(f'Возведение в степень 3 ** 4 = {3 ** 4}')

46
-138
5.0
Деление нацело 9 // 4 = 2
Остаток от деления 9 % 4 = 1
Возведение в степень 3 ** 4 = 81

`Задача`
Посчитать доход через 5 лет в 2 банках по вкладу, исходная сумма  = 100000 рублей.

In [24]:
initial_sum = 100000 # исх сумма
interest_rate_1 = 2 # % годовых
interest_rate_2 = 3 # % годовых
years = 5 # длительность вклада

end_sum_1 = initial_sum * ((100 + interest_rate_1) / 100)**years
end_sum_2 = initial_sum * ((100 + interest_rate_2) / 100)**years
print(f'Сумма после 5 лет:\n - банк 1: {round(end_sum_1)} \n - банк 2: {round(end_sum_2)}')

Сумма после 5 лет:
 - банк 1: 110408
 - банк 2: 115927

In [35]:
# сокращенные записи выражений
a = 10
a *= 5 # a = a * 5
print(a)
a /= 2
print(a)
a += 100
print(a)
a -= 25
print(f'{a}')

50
25.0
125.0
100.0

### Типы данных
для определения типа переменной можно использовать `type()`

> Неизменяемые типы данных:

In [36]:
# Неизменяемые типы данных:
# Строки (англ. "string", обозначаются как str)

my_string = 'Hello'
type(my_string)

str

In [37]:
# Целые числа (англ. "integer", обозначаются как int)

years = 36
type(years)

int

In [38]:
# Числа с плавающей точкой (англ. "float",  обозначаются как float)

pi = 3.1415
type(pi)

float

In [39]:
# Кортежи (англ. "tuple", обозначаются как tuple)

numbers_1 = (1, 2, 3, 4, 5)
type(numbers_1)

tuple

In [41]:
# Логический тип данных (англ. "boolean", обозначаются как bool)

a = 28 > 15
type(a)

bool

> Изменяемые типы данных:

In [42]:
# Списки (англ. "list", обозначаются как list)

my_list = ['lucky', 'sirius86', 288]
type(my_list)

list

In [1]:
# Словари (англ. "dictionary", обозначаются как dict)

my_dict = {
    'lists': 'mutable',
    'Strings': 'immutable',
    'Numbers': 'immutable'
}
type(my_dict)

dict

## Логические операторы

In [2]:
# оператор and
# Оператор and будет возвращать True, если в выражении И условие слева И условие справа истинно.

5 == 5 and 25 < 26

True

In [10]:
# оператор or
# Этот оператор будет возвращать True, 
# если хотя бы одно из условий слева или справа истинное, 
# и возвращать False, если оба условия ложные

print(type(3.14) == int or 28 == 28)
print(34 > 100 or 2 ** 3 == 9)

True
False

In [12]:
# Оператор not
# Этот унарный (т. е. применяется только к одному выражению,
# стоящему справа от него) оператор изменяет логическое значение на противоположное, инвертирует его.
# Например:
print(False or not False)
not True

True

False

### Приоритетность операторов

1. Скобки ()

2. not

3. and

4. or

### Операторы принадлежности
> оператор in

In [15]:
# возвращает логическое значение True или False 
# в зависимости от того присутствует ли значение в последовательности

animals = ['cat', 'dog', 'bird']

print('bird' in animals)
print('text1' in animals)

True
False

> Оператор not in

In [16]:
animals = ['cat', 'dog', 'bird']

'Text' not in animals

True

### > Коллекции: Строки

Строка (string) — это неизменяемый упорядоченный тип данных, представляющий собой последовательность символов, заключенную в кавычки "".

Кавычки могут быть как одинарными, так и двойными.

In [18]:
language = 'Python'
name = 'Monti '
print(language)
print(name + language) # сложение строк

Python
Monti Python

In [25]:
# умножение строк
target = 'learn '
print(target * 5)

learn learn learn learn learn

In [26]:
name = 'Neo'
reality = 'Matrix'
print(f'Wake up, {name}. The {reality} has you')

Wake up, Neo. The Matrix has you

### > Коллекции: Списки
**Список (list)** — это упорядоченная и изменяемая последовательность, позволяющая хранить внутри себя значения различных типов. Для создания списка в Python необходимо перечислить значения в квадратных скобках [].

*Запоминает порядок, в котором элементы были добавлены.*

In [27]:
my_list = [1, 2, 3, 4, 5, 'Start'] # объявление и заполнение списка
new_list = [] # пустой список
print(type(new_list))

<class 'list'>

In [29]:
print(f'Длина списка my_list: {len(my_list)}')

Длина списка my_list: 6

In [33]:
new_list = [3.14, 28, 'Python'] # элементы списка могут быть разного типа
print(*new_list)

3.14 28 Python

In [35]:
# сложение списков
my_list + new_list

[1, 2, 3, 4, 5, 'Start', 3.14, 28, 'Python']

> добавление элемента в конец списка: 
`.append()`

In [38]:
my_list.append('Java Script') # добавление проходит при каждом запуске ячейки

In [39]:
my_list

[1, 2, 3, 4, 5, 'Start', 'Java Script', 'Java Script']

#### Удаление элементов списка

In [40]:
print(my_list.pop()) # удаление последнего элемента

Java Script

In [41]:
print(my_list.pop(1)) # удаление второго элемента

2

In [42]:
print(my_list.remove(5)) # удаление элемента по его названию
my_list

None

[1, 3, 4, 'Start', 'Java Script']

In [43]:
my_list[3] # вывести 4 элемент списка

'Start'

### > Кортежи (tuple)

Кортеж (tuple) — это упорядоченная неизменяемая коллекция. Кортеж обозначается в Python круглыми скобками ().

In [33]:
my_typle = (1, 2, 3) # создание кортежа
my_typle

(1, 2, 3)

In [34]:
my_typle_one = ('Test', ) # создание кортежа с 1 элементом
type(my_typle_one)

tuple

In [35]:
# сложение кортежа, по факту создается новый объект
(25, 'Action') + my_typle + my_typle_one

(25, 'Action', 1, 2, 3, 'Test')

**!!! Кортежи применяют когда требуются удобства списков, но в то же время важна неизменяемость данных.**

### Set (Множества)
`Множество (set)` — неупорядоченная и не индексируемая коллекция. Она особенна тем, что хранит только уникальные элементы. Множества обозначаются фигурными скобками `{}`